<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>UEA Study Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="planner_style.css">
    <style>
    </style>   

    <body>
        <!-- scroll to top button -->
        <button id="scrollBtn" title="Back to top" onclick="topFunction()">↑<br>Back to Top</button>
    
        <header> <!-- header contains both nav bar and logo  -->
            <div class="top-bar">
                    <img id="uea" src="https://i.imgur.com/G8W14Io.png">
                    <h1>Student Study Planner</h1>
                    <img id="logo" src="https://i.imgur.com/Bfrya3f.png​">
                </div>

            </div>
            
			
			<div class="navigation-bar">
                <div id="navigation-container"> 
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="calendar">Calendar</a></li>
                        <li><a href="fileupload">Profile Upload</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li>
                            <form action="/logout?_method=DELETE" method="POST">
                                <button class= "logoutBtn" type="submit">Log Out</button>
                            </form>
                        </li>
                        <li>
                            <button id="colorBtn" class="darkMode" onclick="colourFunction()">Toggle Colour</button>
                        </li>
                        <!--Added 3 images FELIX-->
                        <div id="social">
                            <div id="fb">
                                <a href="https://facebook.com/ueaofficial/">
                                    <img id="socialImage" src="/facebook.png">
                                </a>
                            </div>
                            <div id="ig">
                                <a href="https://instagram.com/uniofeastanglia">
                                    <img id="socialImage" src="/instagram.png">
                                </a>
                            </div>
                            <div id="tt">
                                <a href="https://twitter.com/uniofeastanglia">
                                    <img id="socialImage" href="twitter" src="/twitter.png">
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
		
		</header>
       
        
        <div class="content-container">
            <div class="containerCalendar">
                <div id="headerCalendar">
                    <div id = "monthDisplay"> </div>
                    <div>
                        <button id="newEvent">Add milestone</button>
                        <button id="backButton">Previous</button>
                        <button id = "nextButton">Next</button>
                    </div>
                </div>
                </div>
                <div id="weekdays">
                    <div>Sunday</div>
                    <div>Monday</div>
                    <div>Tuesday</div>
                    <div>Wednesday</div>
                    <div>Thursday</div>
                    <div>Friday</div>
                    <div>Saturday</div>
                </div>  
                <div id="calendar">
                </div>
            </div>

            <div id ="newEventModal">
                <form action="/saveEvent" method="POST">
                    <h2>New Event</h2>
                    
                    <input class="eventForm" type="text" id="eventTitle" name="eventTitle">
                    <input class="eventForm" type="date" id="eventDate" name="eventDate">
                    <input class="eventForm" type="time" id="eventStart" name="eventStart">
                    <input class="eventForm" type="time" id="eventEnd" name="eventEnd">
                    <button class="saveButton" type="submit">Save</button>
                </form>
                <button id="cancelButton">Cancel</button>    
            </div>  
            <div id="modalBackDrop"></div>
            <!-- Delete event modal -->
            <div id="deleteEventModal">
                <form action="/removeEvent" method="POST">
                    <p id="removeEventTitle"></p>
                    <p id="eventID"></p>
                    <p id="Message">Please enter the number above and click delete if you'd like to delete the event</p>
                    <input class="eventForm" type="text" id="removeID" name="removeID">
                    <button id="deleteButton" type = "submit">Delete</button>
                    <button id="closeButton" type = "cancel">Close</button>
            </form>
            </div>
            
        </div>
    <script src="./calendar.js"></script>
    <script src="scripts.js"></script>

        <footer>
            <p>Norwich Research Park, Norwich NR4 7TJ, Norwich, England – ©University of East Anglia. All rights reserved​</p>
        </footer>
    </body>
</html>