<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>UEA Study Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="planner_style.css">
    <style>
    </style>   

    <body>
        <!-- scroll to top button -->
        <button id="scrollBtn" title="Back to top" onclick="topFunction()">↑<br>Back to Top</button>
    
        <header> <!-- header contains both nav bar and logo  -->
            <div class="top-bar">
                    <img id="uea" src="https://i.imgur.com/G8W14Io.png">
                    <h1>Student Study Planner</h1>
                    <img id="logo" src="https://i.imgur.com/Bfrya3f.png">
                </div>

            </div>
			
			<div class="navigation-bar">
                <div id="navigation-container">  
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="calendar">Calendar</a></li>
                        <li><a id = "modulesButton" >Modules</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li>
                            <form action="/logout?_method=DELETE" method="POST">
                                <button class= "logoutBtn" type="submit">Log Out</button>
                            </form>
                        </li>
                        <li>
                            <button id="colorBtn" class="darkMode" onclick="colourFunction()">Toggle Colour</button>
                        </li>
                        <!--Added 3 images FELIX-->
                        <div id="social">
                            <div id="fb">
                                <a href="https://facebook.com/ueaofficial/">
                                    <img id="socialImage" src="/facebook.png">
                                </a>
                            </div>
                            <div id="ig">
                                <a href="https://instagram.com/uniofeastanglia">
                                    <img id="socialImage" src="/instagram.png">
                                </a>
                            </div>
                            <div id="tt">
                                <a href="https://twitter.com/uniofeastanglia">
                                    <img id="socialImage" href="twitter" src="/twitter.png">
                                </a>
                            </div>
                        </div>     
                    </ul>
                </div>
            </div>
		
		</header>
       
        <div class="content-container">
            <h1>Help </h1>
            <h2>Need help using the study planner?</h2>
            <p><a href "xyz create a simple guide document">Follow our simple guide by clicking here!</a></p>
            <h3>Uploading a file</h3>
            <p>Step by step process of how to upload a file</p>
            <h3>Creating a task</h3>
            <p>Step by step process of how to create a task</p>
            <h2>Any other issues</h2>
            <p>
                Feel free to contact us with any issues at : <a href="xyz@outlook.com">xyz@outlook.com</a>
            </p>

            <img id="help-image" src="https://i.imgur.com/EhzOCKG.png">
        </div>
        
    <script src="scripts.js"></script>
        
        <footer>
            <p>Norwich Research Park, Norwich NR4 7TJ, Norwich, England – ©University of East Anglia. All rights reserved​</p>
        </footer>
    </body>
</html>