<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>UEA Study Planner</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="admin_style.css">
<style>
</style>

<body class="admin">
    <!-- scroll to top button -->
    <button id="scrollBtn" title="Back to top" onclick="topFunction()">↑<br>Back to Top</button>

    <header>
        <!-- header contains both nav bar and logo  -->
        <div class="top-bar-admin">
            <img id="uea" src="https://i.imgur.com/G8W14Io.png">
            <h1>Student Study Planner</h1>
            <img id="logo" src="https://i.imgur.com/Bfrya3f.png​">
        </div>

        </div>

        <div class="navigation-bar-admin">
            <div id="navigation-container-admin">
                <ul>
                    <li><a href="index_admin">Home</a></li>
                    <li><a href="module_creator_admin">Module Creator</a></li>
                    <li><a href="module_editor">Change Module (TBD)</a></li>

                    <li>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button class="logoutBtn" type="submit">Log Out</button>
                        </form>
                    </li>
                    <li>
                        <button id="colorBtn" class="darkMode" onclick="colourFunction()">Toggle Colour</button>
                    </li>

                    <div id="social">
                        <div id="fb">
                            <a href="https://facebook.com/ueaofficial/">
                                <img id="socialImage" src="/facebook.png">
                            </a>
                        </div>
                        <div id="ig">
                            <a href="https://instagram.com/uniofeastanglia">
                                <img id="socialImage" src="/instagram.png">
                            </a>
                        </div>
                        <div id="tt">
                            <a href="https://twitter.com/uniofeastanglia">
                                <img id="socialImage" href="twitter" src="/twitter.png">
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

    </header>

    <div class="content-container-admin">

        <h1><u>Admin Dashboard</u></h1>
        <h2>Welcome to the Admin Dashboard</h2>
        <div class=" "></div>
        <p>This is the admin-only section of the study planner.</p>
        <p>You can create and edit modules here.</p>
        <p>Your credentials must be reset as soon as you receive your password, and be kept private at all times.</p>
        <p>Contact the following email if you have issues with resetting your admin credentials - <a
                href="adminsupport@ueaplanner.co.uk">adminsupport@ueaplanner.co.uk</a> </p>
        <p>For urgent enquiries as well as any reports of abuse or misconduct email - <a
                href="urgent@ueaplanner.co.uk">urgent@ueaplanner.co.uk</a> - or call +447322192491</p>

    </div>

    <script src="scripts.js"></script>

    <footer>
        <p>Norwich Research Park, Norwich NR4 7TJ, Norwich, England – ©University of East Anglia. All rights reserved​
        </p>
    </footer>
</body>

</html>