<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>UEA Study Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
   
    <head>
        <link rel="stylesheet" href="planner_style.css">
    </head>
    
    <body class="loginBody">
        <div class="tint"></div>
        <div class="backgrounds">
            <img id="image-one"  src="https://intake.education/sites/default/files/uea.jpg"/>
            <img id="image-two" src="https://cdn.visiteastofengland.com/image/18yl4IyKcof9Uv5P337AEGl1bn6Alt_PI/960x0/university-of-east-anglia.jpg" />
            <img id="image-three"  src="https://pbs.twimg.com/media/FODMs83XIAgiYDK.jpg:large"/>
            <img id="image-four"  src="https://www.uk.weber/files/gb/pictures/2018-05/UEA%20student%20accommodation%203.jpg"/>
        </div>
        
        <div class="exactCenter">
            <div class="top-bar-login"> 
                <h1>Student Study Planner</h1>
            </div>
            <div>
            <form action="/login" method="POST">
                <label for="email">Email:</label><br>
                <input class="loginForm" type="text" id="email" name="email"><br><br>
                <label for="Password">Password:</label><br>
                <input class="loginForm" type="text" id="password" name="password"><br><br>
                <input class="loginBtn" type="submit" value="Login">
            </form>
            </div>
            
            
            <input class="loginBtn" type="button" onclick="location.href='register';" value="Register" />
            <div id="error">
            <% if (messages.error) { %>
                <%= messages.error %>

            <% } %>
            </div>
        </div>
    
        
    </body>
    <footer>
        <p>Norwich Research Park, Norwich NR4 7TJ, Norwich, England – ©University of East Anglia. All rights reserved​</p>
    </footer>
</html>