/* general css/whole site styling */

.cw1{
  visibility: hidden;
}
html{
  scroll-behavior: smooth;
}
.tint{
  background-color: rgba(0, 0, 0, 0.145); /* Tint color */
  background-blend-mode: multiply;
  position: fixed; /* keeps the screen covered durning scroll */
  width: 100%;
  height: 100%;
z-index: 1000; /* puts it on top of everything */
pointer-events: none; /* so we can click through it */
}
.backgrounds img {
  
  position: relative;
  height: 100%;
  width: 100%;
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; 
  animation-duration: 20s;
  position:absolute;
}
#image-one {
  animation-delay: 16s;
}

#image-two {
  animation-delay: 12s;
}

#image-three {
  animation-delay: 8s;
}
#image-four {
  opacity: 1;
  animation-delay: 2s;
}
@keyframes fadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
body{
  font-family: "Segoe UI";
  background-color: #2468B8A1; 
}
.loginBody{
  background-color: #2468B8A1; 
  margin:0 !important;
}
footer {
  z-index: 1001;
  line-height: 0.1vw;
  width:100%;
  background-color: #1b549680;
  color:white;
  font-size: 0.9vw;
  text-align: center;
  position: fixed;
  height: 1.6vw;
  bottom: 0;
  left:0;
}
.flex-row-container{
  padding-top:3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-row-container > div{
  font-size: 1vw;
  margin-right:2vw;
}
.darkMode{
  background-color: rgba(0, 0, 0, 0.959);
}
.darkFooter{
  background-color: rgba(0, 0, 0, 0.479);
}
.content-container{
  padding: 1vw;
  background-color: white;
  width: auto;
  height: auto;
  margin-bottom: 20vw;
  margin-left:4vw;
  margin-right:4vw;
  border-radius: 12px;
}
#help-image{
  border-top: 4px solid #2468B8A1;
  width: 100%;
  height: auto;
  margin-bottom: 2vw;
}
/* needs comment */
#error{
  margin-top:10px;
  margin-left:30%;
}
.exactCenter {
  display: grid;
  z-index: 1001;
  font-family: "Segoe UI";
  width:340px;
  height:530px;
  position: fixed;
  background-color: #363333ce;
  top: 35%;
  left: 48%;
  margin-top: -150px;
  margin-left: -150px;
  padding:20px;
  color: white;
  /* center content */
  text-align: left;
  align-items: center;
}

/* start of header css */
.top-bar{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b5496b9;
  color: white;
  text-align: left;
  height: 5.6vw;
  font-size: 1vw;
  max-height: 5.7vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 4px solid #92bee0;
}

#uea{
  margin-top:0.3vw;
  margin-right:31.4%;
  width: 9vw;
  height: 4.5vw;
  float: left;
  min-height: 30px;
  min-width: 60px;
  position: relative;
  
}
#logo{
  top:-7.5vw;
  width: 10vw;
  height: 10.5vw;
  min-height: 30px;
  min-width: 60px;
  float:right;
  left:1.3vw;
  position: relative;
  margin: 0 auto;
}

#social {
  background-color: #1b549680;
}
#social div:hover {
  outline: 1px white;
}
#social div{
  padding: none;
  
}
#fb {
  float: right;
  background-repeat: no-repeat;
}
#ig {
  float: right;
  background-repeat: no-repeat;
}
#tt {
  float: right;
  background-repeat: no-repeat;
}

#socialImage {
  max-width:45px;
  max-height:45px;
  float: right;
  border-radius: 20px;
}
.navigation-bar{
  margin-bottom: 5vw;
}
.navigation-bar ul {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1b5496b9;
}
.navigation-bar li {
  float: left;
}
.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navigation-bar li a:hover {
  background-color: #92bee0;
}
/* end of header css */

/* login page */
.loginForm{
  background-color:#92bee0 ;
  border: none;
  width: 95%;
  height:30px
}

.loginForm:focus,input:focus{
  outline: none;
}
/* end login page */

/* button css */
.module-button{
  display:flex;
  width: 80vw !important;
  background-image: url(https://c1.wallpaperflare.com/preview/69/791/706/uea-university-east-anglia-lasdun.jpg);
  background-color: #2468B8A1;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: right; 
  border:white;
  color: white;
  font-size: 1.3vw;
  margin: 1vw;
  cursor: pointer;
  border-radius: 10px;
  height:100px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-size:75vw;

}
#colorBtn{
  cursor:pointer;
  font:inherit;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color:inherit;
  border:none;
  outline:none;
}
#colorBtn:hover{
  background-color:#92bee0;
}
.loginBtn{
  padding: 8px;
  margin-top: 30px;
  margin-left:35%;
  width: 90px;
  height: 40px;
  color: white;
  background-color: #92bee0;
  border: none;
  cursor: pointer;
}
.loginBtn:hover{
  background-color: #50a4e4;
}
.logoutBtn{
  cursor:pointer;
  font:inherit;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color:inherit;
  border:none;
  outline:none;
}
.logoutBtn:hover{
  background-color:#92bee0;
}
#scrollBtn {
  display: none; /*default is hidden, modified by js function*/
  cursor: pointer; 
  position: fixed; 
  bottom: 1.9vw; 
  left:50%;
  border: none; 
  background-color: rgba(0, 0, 0, 0.479);
  color: white; 
  padding:6px;
  border-radius: 10px; 
  font-size: 10px; 
}
#scrollBtn:hover {
  /* become more visible on hover */
  background-color: rgb(0, 0, 0);  
}
/* end buttons */

/* upload page css */
.upload-container{
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:auto;
}
.upload-container p{
  text-align: left;
  font-size: 1.5vw;
}
#uploadedFile {
  margin-left:10%;
  padding:50px;
}
/* end upload page */

/* calendar css */

#calendarDisplay {
  padding: 10px;
  font:inherit;
  display: flex;
  justify-content: space-between;
}

#monthYear{
  color: #50a4e4;
  font-size: 26px;
  margin-left: 40%;
}

#nextButton, #backButton, #newEvent{
  width:30px;
  height:30px;
  padding: 0;
  border: none;
  cursor: pointer;
}
#nextButton img, #backButton img, #newEvent img{
  width: 100%;
  height: 100%;
  background-color: white;
}

#weekdays {
  width: 100%;
  font-weight: bold;
  display: flex;
  color: #247BA0;
}

#weekdays div {
  width: 12%;
  padding: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#day, #today {
  width: 12.5%;
  padding: 10px;
  height: 130px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #2468B8A1;
  display: flex;
  flex-direction: column;
  color: #247BA0;
}

#calendar *:hover {
  background-color: #6999cfa1;
}

#calendar #day :hover, #calendar #today :hover {
  background-color: #57aae9;
}

#today {
  background-color: #83bde9;
}

.event {
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  display: flex;
}

.eventTitle {
  width: 60%;
  display: flex;
}

.eventStart, .eventDash, .eventEnd {
  display: flex;
}

.deadline {
  font-size: 10px;
  padding: 3px;
  background-color: #587de4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
  display: flex;
}

.notDay {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#createCalendarMilestone,#deleteMilestone {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  font-family: "Segoe UI";
  font-size: 1.5vw;
  background-color: #363333ce;
  color: white;
  padding:1vw;
  text-align: center;
  align-items: center;
  z-index: 20;
}

#milestoneTitle {
  padding: 10px;
  width: 70%;
  margin-bottom: 3px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#milestoneDate{
  text-align: center;
  padding: 10px;
  width: 70%;
  border-radius: 3px;
  margin-bottom: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#milestoneStart, #milestoneEnd {
  padding: 10px;
  width: 35%;
  box-sizing: border-box;
  margin-bottom: 3px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
.saveButton, #cancelButton, #deleteMilestoneButton, #closeMilestoneButton{
  padding: 10px;
  margin-top: 4px;
  width: 30%;
  cursor: pointer;
  float:left;
}
.saveButton{
  margin-left:14%;
  background-color: #85d69e;
}
#cancelButton{
  margin-left: 12%;
  background-color: #d36c6c;
}

#deleteMilestoneButton{
  margin-left: 14%;
  background-color: #d36c6c;
}
#closeMilestoneButton{
  margin-left: 12%;
}
#eventText {
  font-size: 12px;
}
/* end calendar */

/* dashboard css */

.dashboard-container{
  display:grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:auto;
  font-size:1vw;
}
.prog-bar{
  margin-top:1vw;
  margin-bottom:1vw;
  padding: 5px;
  height:15px;
  
}
.prog-bar-background{
  background-color: lightgray;
}
#prog-bar-green{
  background-color: green;
  width: 45%;
}
#prog-bar-yellow{
  background-color: yellow;
  width: 30%;
}
#prog-bar-red{
  background-color: red;
  width: 15%;
}

.chart-wrapper {
  max-width: 1150px;
  padding: 0 10px;
  margin: 0 auto;
}
:root {
  --divider: lightgrey;
}
 
.chart-wrapper .chart-values {
  position: relative;
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
 
.chart-wrapper .chart-values li {
  flex: 1;
  min-width: 80px;
  text-align: center;
}
 
.chart-wrapper .chart-values li:not(:last-child) {
  position: relative;
}
 
.chart-wrapper .chart-values li:not(:last-child)::before {
  content: '';
  position: absolute;
  right: 0;
  height: 510px;
  border-right: 1px solid var(--divider);
}
:root {
  --white: #fff;
}
 
.chart-wrapper .chart-bars li {
  position: relative;
  color: var(--white);
  margin-bottom: 15px;
  font-size: 16px;
  border-radius: 20px;
  padding: 10px 20px;
  width: 0;
  opacity: 0;
  transition: all 0.65s linear 0.2s;
}
 
@media screen and (max-width: 600px) {
  .chart-wrapper .chart-bars li {
    padding: 10px;
  }
}
/* end dashboard */

/*index css*/
#milestones {
  display: none;
   position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  z-index: 1001;
  font-family: "Segoe UI";
  font-size: 1.5vw;
  background-color: #363333ce;
  color: white;
  padding:1vw;
  text-align: center;
  align-items: center;
}
#milestones button{
  margin-top: 10px;
  background-color: #363333ce;
  color: white;
  padding: 1vw;
  width:100px;
  margin-top:15px;
  border: none;
  border-radius: 5px;
  font-size: 1vw;
  cursor: pointer;
  outline: none;
}
#milestones input,select{
  width: 100%;
}
#milestones #additionalNotes
{
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 1px;
}
#redirect {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 1001;
  font-family: "Segoe UI";
  font-size: 1.5vw;
  background-color: #363333ce;
  color: white;
  padding:1vw;
  text-align: center;
  align-items: center;
}
#redirect button{
  background-color: #363333ce;
  color: white;
  padding: 1vw;
  width:100px;
  margin-top:15px;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  cursor: pointer;
  outline: none;
}
#newMilestone{
  margin-left: 45%;
  background-color: #363333ce;
  color: white;
  padding:10px;
  width:10vw;
  margin-top:15px;
  border: none;
  border-radius: 5px;
  font-size: 1vw;
  cursor: pointer;
  outline: none;
}
#missed-deadlines{
  color: red;
}
#missed-deadlines,#upcoming-deadlines,#upcoming-activities{
  padding-bottom:25px;
  border-bottom: 4px solid #92bee0;
}

#gantt-chart{
  margin-top:25px;
  border-top: 4px solid #92bee0;
}

/* about page */
#feedback-area{
  margin-top: 10vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vw;
  background-color: #363333ce;
  color: white;
  padding:1vw;
  text-align: center;
  align-items: center;
}
#feedback-area textarea{
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 1px;
}
#feedback-area input{
  background-color: #363333ce;
  color: white;
  padding: 1vw;
  width:150px;
  margin-top:15px;
  border: none;
  border-radius: 5px;
  font-size: 1.5vw;
  cursor: pointer;
  outline: none;
}
#feedback-confirmation{
  margin-left: 45%;
  background-color: #363333ce;
  color: white;
  padding:10px;
  width:10vw;
  margin-top:15px;
  border: none;
  border-radius: 5px;
  font-size: 1vw;
  cursor: pointer;
  outline: none;
  z-index: 20;
}