<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>UEA Study Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="planner_style.css">
    <style>
    </style>   

    <body>
        <!-- scroll to top button -->
        <button id="scrollBtn" title="Back to top" onclick="topFunction()">↑<br>Back to Top</button>
    
        <header> <!-- header contains both nav bar and logo  -->
            <div class="top-bar">
                    <img id="uea" src="https://i.imgur.com/G8W14Io.png">
                    <h1>Student Study Planner</h1>
                    <img id="logo" src="https://i.imgur.com/Bfrya3f.png​">
                </div>

            </div>
			
			<div class="navigation-bar">
                <div id="navigation-container"> 
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="calendar">Calendar</a></li>
                        <li><a href="tasks">Tasks</a></li>
                        <li><a href="fileupload">Profile Upload</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                        <li>
                            <form action="/logout?_method=DELETE" method="POST">
                                <button class= "logoutBtn" type="submit">Log Out</button>
                            </form>
                        </li>
                        <li>
                            <button id="colorBtn" class="darkMode" onclick="colourFunction()">Toggle Colour</button>
                        </li>
                        <div id="social">
                            <div id="fb">
                                <a href="https://facebook.com/ueaofficial/">
                                    <img id="socialImage" src="/facebook.png">
                                </a>
                            </div>
                            <div id="ig">
                                <a href="https://instagram.com/uniofeastanglia">
                                    <img id="socialImage" src="/instagram.png">
                                </a>
                            </div>
                            <div id="tt">
                                <a href="https://twitter.com/uniofeastanglia">
                                    <img id="socialImage" href="twitter" src="/twitter.png">
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
		
		</header>
       
     <div class="task-content-container">
         <div class="task-form">
         
                <form action="/" method="POST">
                    
                    <label for="task">Task Name:</label>
                    <input class="task-form-inputs" type="text" id="task" name="task"><br><br>
                    <label for="module">Module:</label>
                    <input class="task-form-inputs" type="text" id="module" name="module"><br><br>
                    <label for="task_description">Description:</label>
                    <input class="task-form-inputs" type="text" id="task_description" name="task_description"><br><br>

                    <button class="task-button" type="submit">Create Task</button>
                </form>
        
          </div>
    </div>
        
    <script src="scripts.js"></script>
        
        <footer>
            <p>Norwich Research Park, Norwich NR4 7TJ, Norwich, England – ©University of East Anglia. All rights reserved​</p>
        </footer>
    </body>
</html>