<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>UEA Study Planner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="planner_style.css">
    <style>
    </style>   

    <body>
        <!-- scroll to top button -->
        <button id="scrollBtn" title="Back to top" onclick="topFunction()">↑<br>Back to Top</button>
    
        <header> <!-- header contains both nav bar and logo  -->
            <div class="top-bar">
                    <img id="uea" src="https://i.imgur.com/G8W14Io.png">
                    <h1>Student Study Planner</h1>
                    <img id="logo" src="https://i.imgur.com/Bfrya3f.png​">
                </div>

            </div>
			
			<div class="navigation-bar">
                <div id="navigation-container"> 
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="calendar">Calendar</a></li>
                        <li><a href="fileupload">Profile Upload</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="help">Help</a></li>
                       
                        <li>
                            <form action="/logout?_method=DELETE" method="POST">
                                <button class= "logoutBtn" type="submit">Log Out</button>
                            </form>
                        </li>
                        <li>
                            <button id="colorBtn" class="darkMode" onclick="colourFunction()">Toggle Colour</button>
                        </li>
                        <!--Added 3 images FELIX-->
                        <div id="social">
                            <div id="fb">
                                <a href="https://facebook.com/ueaofficial/">
                                    <img id="socialImage" src="/facebook.png">
                                </a>
                            </div>
                            <div id="ig">
                                <a href="https://instagram.com/uniofeastanglia">
                                    <img id="socialImage" src="/instagram.png">
                                </a>
                            </div>
                            <div id="tt">
                                <a href="https://twitter.com/uniofeastanglia">
                                    <img id="socialImage" href="twitter" src="/twitter.png">
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
		
		</header>
       
        <div class="content-container">
            <h1>Part One: Planning time </h1>
        <p> 
            Planning is an essential part of being organised. It involves predicting your future
            commitments and setting aside enough time to meet them. Successful planning gives
            you confidence and purpose.
            5 Steps to successful planning
            <h2>Step One - Looking ahead</h2>
            An important first step is to establish:
            • what you need to do (e.g. coursework/taught sessions/private study)
            • when things need to be done by (e.g. deadlines for assessed work)
            • how long they are likely to take (e.g. time spent in taught sessions/time required to
            write a lab. report).
            Read through your course handbooks and other information related to your modules to
            establish the demands that will be placed upon your time. Think of the broad range of
            study activities and develop a picture of how they relate to each other. This forward
            picture will be an invaluable tool in helping you organise your time.
        </p>
        <p>
            <h2>Step Two - Making plans</h2>
            Once you have established your commitments, it might be useful to enter these on a plan
            or calendar. For instance, try using a semester planner to construct a visual image of the
            semester ahead. There are several advantages to doing this:
            • You can see the whole semester ahead of you.
            • You can see where deadlines fall in relationship to each other.
            • You can quickly scan the whole plan to remind yourself of the full range of your
            activities and to review these.
            Make filling in your plan an active process. Use colour and image to distinguish between
            different sorts of activities. For instance, fill in deadlines in red, starting points in green.
            2
            Use exclamation marks as warning signs or question marks to highlight vague
            commitments.
            Continually review your long term plan, assessing your achievements or adding further
            information as it arises.
        </p>
        <p>
            <h2>Step Three - Breaking up time</h2>
            To begin taking control of your time you will need to break it up into manageable
            amounts. You could try the following strategies for planning each day a week at a time.
            Planning the week
            Your study time over a week will probably be divided into two broad areas:
            • your contact time or taught sessions (lectures, tutorials, laboratory classes)
            your private study activities (working on projects, reading for an essay).
            Draw up a timetable for the week showing each day and each hour within that day. Fill in
            your taught sessions for the week ahead. This will give you a clear idea of the time you
            can allocate to other activities, showing you when you have time and how much time is
            available.
            Now begin to allocate time to your other activities. Don't try to fulfil your study obligations
            in a few long sessions. Make the best use of all the time available to you by being
            creative in your use of time. For example:
            • use an evening to plan your essay
            • use an hour between lectures to visit the library
            • use a ten minute bus journey to review your lecture notes.
            Try to fit the right tasks to the right time slots. Don't try to write a presentation in half an
            hour at the end of the day if you know you will be tired. Move this activity to a more
            suitable time when you will have the energy to complete the task to your best abilities.
            Instead, attempt more mundane tasks such as organising notes.
            When planning your week, remember to balance your long-term commitments with your
            short-term ones. Effective time management involves doing the right thing at the right
            time.
            Planning a day
            As each new day approaches, review your week plan to make sure that it is up to date.
            Make a 'to do' list for each day if this will help focus your activities.
            • Use your day plan to add discipline to your working day.
            • Be active with your plan. Tick off completed tasks and keep a check on
            uncompleted activity.
            • Avoid overburdening your day plan - only set out to complete realistic tasks.
            3
            <h2>Step Four - Setting priorities</h2>
            You may find that within a week you will need to tackle more than one task at a time. Find
            a way of putting multiple tasks in order, establishing a list of priorities. A priority graph
            (shown below) can be used to judge whether something is a priority or not. Put a cross
            on the graph for each task you need to complete. If it goes in the top right corner
            (Important/Urgent) it is an immediate priority. If it goes in the bottom left corner (Not
            Urgent/Unimportant), you should question why you were thinking about doing it in the first
            place!
            <h2>Step Five - Reviewing progress</h2>
            It is important to continually review your planning strategy to make sure that it is up to
            date (an ineffective time manager allows all of their priority points to slide towards the top
            right hand corner of their graph when everything is urgent and everything needs to be
            done yesterday!). Try to avoid this by forward planning, predicting any possible glitches
            and pitfalls.
        </p>
            <p>
                <h2>Want to know more?</h2>
                If you have any further questions about this topic you can make an appointment to see a
                Learning Enhancement Tutor in the Student Support Service, as well as speaking to
                your lecturer or adviser.
                <p> Call: 01603 592761</p>
                <p>  Ask: ask.let@uea.ac.uk</p>
                <p> Click: <a href="https://portal.uea.ac.uk/student-support-service/learning-enhancement">https://portal.uea.ac.uk/student-support-service/learning-enhancement</a></p>
                <p>  There are many other resources to help you with your studies on our <a href="https://my.uea.ac.uk/departments/learning-enhancement">website.</a></p>
               <p><b> Your comments or suggestions about our resources are very welcome.</b></p>
            </p>
        </div>
        
    <script src="scripts.js"></script>
        
        <footer>
            <p>Norwich Research Park, Norwich NR4 7TJ, Norwich, England – ©University of East Anglia. All rights reserved​</p>
        </footer>
    </body>
</html>